{% extends 'base.html' %} {% block content %}

<h1>Vítejte na blogu o projektu freezeyt!</h1>

<div>
    Odkazy na konkrétně použité koncepty:
</div>
<ul class="list-unstyled">
    <li>
        <a href={{ url_for('post', slug="concepts_list") }}>Python koncepty</a>
    </li>
</ul>

<div>
Všechny články k projektu:
</div>
<ul class="list-unstyled">
{% for slug, title in post_info %}
    {% if slug == "meeting01" or slug == "meeting33" %}
        <li>
            <a href={{ url_for('post', slug=slug) }}><strong>{{ title }}</strong></a>
        </li>
    {% else %}
        <li>
            <a href={{ url_for('post', slug=slug) }}>{{ title }}</a>
        </li>
    {% endif %}
{% endfor %}
<ul>

{% endblock content %}
