name: Platform-tests
on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  platform-env:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Set up python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
          cache: 'pip'
          cache-dependency-path: '**/setup.cfg'

      - name: Install dependecies
        run: |
          python -m pip install .[dev]

      - name: Run tests
        run: |
          python -m pytest -v
